<!DOCTYPE html>
<html xmlns:th="http://www.thymelead.org"
      xmlns="http://www.w3.org/1999.xhtml">
    <head>
        <title>TechShop</title>
        <meta charset="UTF-8">
        <meta name="viewport" content="width=device-width, initial-scale=1.0">
        <link href="/css/menu.css" rel="stylesheet" type="text/css"/>
    </head>
    <body>
        <header th:replace="layout/plantilla :: header" />
        <div class="contenido">
            <h2 th:text="#{categoria.titulo}">Lista de Categorias</h2>
            <a th:href="@{/categoria/nuevo}" th:text="#{categoria.nuevo}">Nueva Categoria</a>
            <br/>
            <br/>
            <div th:if="${categorias != null and !categorias.empty}">
                <table border="1">
                    <thead>
                        <tr>
                            <th th:text="#{categoria.descripcion}">Descripcion</th>
                            <th th:text="#{categoria.activo}">Activa</th>
                        </tr>
                    </thead>
                    <tbody>
                        <tr th:each="categoria : ${categorias}">
                            <td th:text="${categoria.descripcion}"></td>
                            <td><input type="checkbox" name="activa" th:checked="${categoria.activo}" disabled="true"></td>
                            <td><a th:href="@{/categoria/modificar/} + ${categoria.idCategoria}"
                                   th:text="#{accion.actualizar}">Modificar</a></td>
                            <td><a th:href="@{/categoria/eliminar/} + ${categoria.idCategoria}"
                                   th:text="#{accion.eliminar}">Eliminar</a></td>
                        </tr>
                    </tbody>
                </table>
            </div>
            <div th:if="${categorias == null or categorias.empty}">
                La lista de categorias esta vacia....
            </div>
        </div>
        <footer th:replace="layout/plantilla :: footer"/>
    </body>
</html>
