<!DOCTYPE html>
<html xmlns:th="http://www.thymelead.org">
    <head th:replace="layout/plantilla :: head">
    </head>
    <body>
        <header th:replace="layout/plantilla :: header" />
        <div class="contenido">
            <h2 th:text="#{index.titulo}">Articulos Disponibles</h2>
            <br/>
            <div th:if="${articulos != null and !articulos.empty}">
                <table border="1">
                    <thead>
                    <th th:text="#{articulo.descripcion}">Descripcion</th>
                    <th th:text="#{articulo.precio}">Precio</th>
                    <th th:text="#{articulo.comprar}">Comprar</th>
                    </thead>
                    <tbody>
                        <tr th:each="item : ${articulos}">
                            <td th:text="${item.descripcion}"></td>
                            <td th:text="${#numbers.formatDecimal(item.precio, 3, 2)}"></td>
                            <td><a th:href="@{/carrito/agregar/} + ${item.idArticulo}"
                                   th:text="#{accion.agregar}">Agregar</a></td>
                        </tr>
                    </tbody>
                </table>
            </div>
            <div th:if="${articulos == null or articulos.empty}">
                [[#{articulo.no_mostrar}]]
            </div>
        </div>
        <footer th:replace="layout/plantilla :: footer" />
    </body>
</html>
